.tools button, #clear-canvas {
    margin-right: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #009578;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tools button:hover, #clear-canvas:hover {
    background: #006853;
}

#pencilButton, #eraserButton {
    width: 50px;
    height: 50px;
    border: none;
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#pencilButton {
    background-image: url("pencil.jpg");
}

#eraserButton {
    background-image: url("eraser.jpg");
}

.brush-size-slider {
    width: 200px; 
}

#main-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sub-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

#videos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.video-player {
    max-width: 100%;
    margin: 3px;
}

#canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    flex: 1;
}

#chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    flex: 1;
}

.tools {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#messages {
    width: 80%;
    height: 400px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    padding: 10px; 
    font-size: 20px;
    margin: 10px auto;
    border-radius: 10px;
}

#input {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#drawing-board {
    border-style: solid;
    border-width: 5px;
}
